<div class="animated fadeInUp" style="padding:20px" ng-controller="app.table">
    <div class="well">
        {{message}}
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <caption>User List</caption>
                    <thead>
                        <tr><th>id</th><th>name</th><th>age</th><th>money</th></tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="vo in data.result">
                            <th scope="row" ng-bind="$index + 1"></th>
                            <td ng-bind="vo.name"></td>
                            <td ng-bind="vo.age"></td>
                            <td ng-bind="vo.money"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <caption>User List</caption>
                    <thead>
                        <tr><th>id</th><th>name</th><th>age</th><th>money</th></tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="vo in data.result">
                            <th scope="row" ng-bind="$index + 1"></th>
                            <td ng-bind="vo.name"></td>
                            <td ng-bind="vo.age"></td>
                            <td ng-bind="vo.money"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>