div.text-center.layer-box(ng-controller="app.login",ng-cloak)
    div.animated.fadeInDown.layer-content

        // 登录页面Logo
        div.logo(ng-bind="app.info.name")

        // 登录表单
        form(ng-submit="submit()",name="login",novalidate)

            // 用户名输入框
            div.form-group.has-feedback
                span.fa.fa-user.input-icon
                input(type="text",name="username",required,ng-minlength="4",maxlength="20" ng-model="user.username",autofocus,autocomplete="off" class="form-control",placeholder="Username")
                span.error-input(ng-show!="login.username.$dirty && login.username.$error.required") 账号不能为空哦！
                span.error-input(ng-show!="login.username.$dirty && login.username.$error.minlength") 账号不能少于4位字符！

            // 密码输入框
            div.form-group.has-feedback
                span.fa.fa-key.input-icon
                input(type="password",name="password",required,ng-minlength="4",maxlength="20" ng-model="user.password",autocomplete="off" class="form-control",placeholder="Password")
                span.error-input(ng-show!="login.password.$dirty && login.password.$error.required") 密码不能为空哦！
                span.error-input(ng-show!="login.password.$dirty && login.password.$error.minlength") 密码不能少于4位字符！

            // 登录按钮
            button.btn.btn-primary.btn-lg.full-width.login-btn(type="submit",ng-disabled="login.$invalid")  登录

    // 版权信息
    p.copyright
        small(ng-bind="app.info.copyright")