<div class="text-center layer-box" ng-controller="app.login" ng-cloak>
    <div class="animated fadeInDown layer-content">
        <div class='logo' ng-bind="app.info.name">　</div>
        <form ng-submit="submit()" name="login" novalidate>
            <div class="form-group has-feedback">
                <span class="fa fa-user input-icon"></span>
                <input required ng-minlength="4" maxlength="20" ng-model="user.username" autofocus autocomplete="off" class="form-control" name="username" placeholder="Username"  type="text" />
                <span class="error-input" ng-show="login.username.$dirty && login.username.$error.required">账号不能为空哦！</span>
                <span class="error-input" ng-show="login.username.$dirty && login.username.$error.minlength">账号不能少于4位字符！</span>
            </div>
            <div class="form-group has-feedback">
                <span class="fa fa-key input-icon"></span>
                <input required ng-minlength="4" maxlength="20" ng-model="user.password" autocomplete="off" class="form-control" name="password" placeholder="Password" type="password" />
                <span class="error-input" ng-show="login.password.$dirty && login.password.$error.required">密码不能为空哦！</span>
                <span class="error-input" ng-show="login.password.$dirty && login.password.$error.minlength">密码不能少于4位字符！</span>
            </div>
            <button type="submit" ng-disabled="login.$invalid" class="btn btn-primary btn-lg full-width login-btn">登录</button>
        </form>
    </div>
    <p class='copyright'><small ng-bind="app.info.copyright"></small></p>
</div>