/*login*/
body.login {background-color:#1c77ac; overflow:hidden;font-family:'微软雅黑'; margin:0 auto;min-width:980px;font-size:9pt}
body.login ul{display:block;margin:0;padding:0;list-style:none;}
body.login ul li{display:block;margin:0;padding:0;list-style: none;}
body.login img{border:0;}
body.login .clouds {
    background: url("img/login/cloud_three.png") repeat-x left 15% ;
    position: absolute;left: 0;top: 0;height: 100%;width: 300%;
    -webkit-animation: cloudmove 200s linear infinite;
    -moz-animation: cloudmove 200s linear infinite;
    -o-animation: cloudmove 200s linear infinite;
    animation: cloudmove 200s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
body.login .clouds-fast {
    background: url("img/login/cloud.png") no-repeat 0px 40% ;
    -webkit-animation: cloudmove 30s linear infinite;
    -moz-animation: cloudmove 30s linear infinite;
    -o-animation: cloudmove 30s linear infinite;
    animation: cloudmove 30s linear infinite;
}
body.login .clouds-footer {
    background: url("img/login/cloud_one.png") no-repeat left 100%;
    animation:none
}
@-webkit-keyframes cloudmove {
    0% {left: -20%}100% {left: 100%}
}
@-moz-keyframes cloudmove {
    0% {left: -20%}100% {left: 100%}
}
@keyframes cloudmove {
    0% {left: -20%}100% {left: 100%}
}
body.login a,
body.login a:focus{text-decoration:none;color:#000;outline:none;blur:expression(this.onFocus=this.blur());}
body.login a:hover{color:#00a4ac;text-decoration:none;}

body.login .header{height:47px; position:absolute; top:0; background:url(img/login/loginbg1.png) repeat-x;z-index:100; width:100%;}
body.login .header span{line-height:47px; text-indent:44px; float:left;font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;color:#DDD;font-size: 12px;}
body.login .header ul{float:right; padding-right:30px;}
body.login .header ul li{float:left; margin-left:20px; line-height:47px;}
body.login .header ul li a{color:#afc5d2;}
body.login .header ul li a:hover{color:#fff;}

body.login .container{background:url(img/login/loginbg3.png) no-repeat center center; width:100%; height:585px; overflow:hidden; position:absolute; top:47px;}
body.login .logo{background:url(http://static.cdn.cuci.cc/2016/0414/af3c5d9fcf94b34113274f8c047755fc.png?imageMogr2/thumbnail/!160x56r/gravity/Center/crop/160x56/interlace/1) no-repeat center;width:100%; height:170px; margin-top:40px;}

/* 登录表单 */
body.login .content{width:692px; height:336px; background:url(img/login/logininfo.png) no-repeat; margin:30px auto auto auto;position:relative;display:block;}
body.login .content ul{margin-top:88px; margin-left:285px;}
body.login .content ul li{margin-bottom:25px;}
body.login .content ul li label{color:#687f92; padding-left:25px;}
body.login .content ul li label a{color:#687f92;}
body.login .content ul li label a:hover{color:#3d96c9;}
body.login .content ul li label input{margin-right:5px;}
body.login input.username,body.login input.password{width:343px; height:48px;border:none;line-height:48px; padding-left:44px; font-size:14px; color:#90a2bc; }
body.login input.username:focus,body.login input.password:focus{border-color: #66afe9;outline: 0;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}
body.login .username{background:url(img/login/loginuser.png) no-repeat;}
body.login .password{background:url(img/login/loginpassword.png) no-repeat;}
body.login button.submit{width:111px;height:35px; background:url(img/login/buttonbg.png) repeat-x; font-size:14px; font-weight:bold; color:#fff;cursor:pointer;line-height:35px;border:none}
body.login button.submit[disabled]{color:#ccc}

/* 头像 */
body.login .people{width:165px; height:96px;position:absolute;top:8px;left:-70px}
body.login .people .tou{background: url("img/login/tou.png") no-repeat;width: 97px;height: 92px;position: absolute;top: -87px;left: 140px;}
body.login .people .left_hand{background: url("img/login/left_hand.png") no-repeat;width: 32px;height: 37px;position: absolute;top: -38px;left: 150px}
body.login .people .right_hand{background: url("img/login/right_hand.png") no-repeat;width: 32px;height: 37px;position: absolute;top: -38px;right: -64px;}
body.login .people .initial_left_hand{background: url("img/login/hand.png") no-repeat;width: 30px;height: 20px;position: absolute;top: -12px;left: 100px;}
body.login .people .initial_right_hand{background: url("img/login/hand.png") no-repeat;width: 30px;height: 20px;position: absolute;top: -12px;right: -112px;}

/* 底部版权 */
body.login .footer{height:50px; line-height:50px; text-align:center; background:url(img/login/loginbg2.png) repeat-x;position:fixed;_position:absolute;*position:absolute;bottom:0;width:100%; color:#0b3a58;}
body.login .footer a{font-weight:bold;color:#0b3a58;}
body.login .footer a:hover{color:#fff;}