<div class="page-container">
    <h1>后台登录</h1>
    <form ng-submit="dologin()" onsubmit="return false;" method="post" >
        <input ng-model="username" type="text" name="username" class="username" placeholder="Username">
        <input ng-model="password" type="password" name="password" class="password" placeholder="Password">
        <button type="submit">登 录</button>
        <div class="error"><span>+</span></div>
    </form>
    <div class="connect">
        <p>Or connect with:</p>
        <p>
            <a class="facebook" href="javascript:void(0)"></a>
            <a class="twitter" href="javascript:void(0)"></a>
        </p>
    </div>
</div>