h3 Form Validation with Parsley
  small Basic input validation with parsley

// START row
.row
  .col-md-12
    form.form-horizontal(action='#', validate-form='', novalidate='')
      // START panel
      .panel.panel-default
        .panel-heading
          .panel-title Fields validation
        .panel-body
          h4 Type validation
          fieldset
            .form-group
              label.col-sm-2.control-label Required Text
              .col-sm-6
                input.form-control(type='text', name='required', required="required")
              .col-sm-4
                code required
          fieldset
            .form-group
              label.col-sm-2.control-label Email
              .col-sm-6
                input.form-control(type='email', name='email', data-parsley-type='email')
              .col-sm-4
                code data-parsley-type="email"
          fieldset
            .form-group
              label.col-sm-2.control-label Number
              .col-sm-6
                input.form-control(type='text', name='number', data-parsley-type='number')
              .col-sm-4
                code data-parsley-type="number"
          fieldset
            .form-group
              label.col-sm-2.control-label Integer
              .col-sm-6
                input.form-control(type='text', name='integer', data-parsley-type='integer')
              .col-sm-4
                code data-parsley-type="integer"
          fieldset
            .form-group
              label.col-sm-2.control-label Digits
              .col-sm-6
                input.form-control(type='text', name='digits', data-parsley-type='digits')
              .col-sm-4
                code data-parsley-type="digits"
          fieldset
            .form-group
              label.col-sm-2.control-label Alphanum
              .col-sm-6
                input.form-control(type='text', name='alphanum', data-parsley-type='alphanum')
              .col-sm-4
                code data-parsley-type="alphanum"
          fieldset
            .form-group
              label.col-sm-2.control-label Url
              .col-sm-6
                input.form-control(type='text', name='url', data-parsley-type='url')
              .col-sm-4
                code data-parsley-type="url"
          fieldset
            .form-group
              label.col-sm-2.control-label Equal to
              .col-sm-3
                input.form-control#id-source(type='text', placeholder="#id-source")
              .col-sm-3
                input.form-control(type='text', data-parsley-equalto='#id-source')
              .col-sm-4
                code data-parsley-equalto='#id-source'

          h4 Range validation
          fieldset
            .form-group
              label.col-sm-2.control-label Minlength
              .col-sm-6
                input.form-control(type='text', name='minlength', data-parsley-minlength='6')
              .col-sm-4
                code data-parsley-minlength="6"
          fieldset
            .form-group
              label.col-sm-2.control-label Maxlength
              .col-sm-6
                input.form-control(type='text', name='maxlength', data-parsley-maxlength='10')
              .col-sm-4
                code data-parsley-maxlength="10"
          fieldset
            .form-group
              label.col-sm-2.control-label Length
              .col-sm-6
                input.form-control(type='text', name='length', data-parsley-length='[6, 10]')
              .col-sm-4
                code data-parsley-length="[6, 10]"
          fieldset
            .form-group
              label.col-sm-2.control-label Min
              .col-sm-6
                input.form-control(type='text', name='min', data-parsley-min='6')
              .col-sm-4
                code data-parsley-min="6"
          fieldset
            .form-group
              label.col-sm-2.control-label Max
              .col-sm-6
                input.form-control(type='text', name='max', data-parsley-max='6')
              .col-sm-4
                code data-parsley-max="6"
          fieldset
            .form-group
              label.col-sm-2.control-label Min words
              .col-sm-6
                input.form-control(type='text', data-minwords='6')
              .col-sm-4
                code data-minwords='6'
          fieldset
            .form-group
              label.col-sm-2.control-label Max words
              .col-sm-6
                input.form-control(type='text', data-maxwords='6')
              .col-sm-4
                code data-maxwords='6'
          
          fieldset
            .form-group
              label.col-sm-2.control-label Range of words
              .col-sm-6
                input.form-control(type='text', data-rangewords='[6,10]')
              .col-sm-4
                code data-rangewords='[6,10]'

        .panel-footer.text-center
          button.btn.btn-info(type='submit') Run validation
      // END panel
// END row