<div class="sidebar-content" ng-controller="app.menu" ng-if='app.leftmenudata'>
    <div class="sidebar-inner">
        <a class="sidebar-fold" ng-click="toggleLeftNav()">
            <span class="glyphicon glyphicon-option-vertical transition-min"></span>
        </a>
        <div>
            <div class="sidebar-nav main-nav" ng-class='{true:"open",false:""}[menu.open]' ng-repeat='menu in app.leftmenudata'>
                <div class="sidebar-title" ng-if='menu.sub' ng-click="toggleLeftItemNav(menu)">
                    <div class="sidebar-title-inner">
                        <span class="sidebar-title-icon fa fa-caret-right transition-min"></span>
                        <span class="sidebar-title-text" ng-bind="menu.name"></span>
                    </div>
                </div>
                <ul class="sidebar-trans" ng-if='menu.sub'>
                    <li class="nav-item" ng-repeat='submenu in menu.sub'>
                        <a class="sidebar-trans" ng-href="#{{submenu.uri}}" ng-if="submenu.uri">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-bullhorn transition-min"></span>
                            </div>
                            <span class="nav-title">{{submenu.name}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>