<div class="sidebar-content">
    <div class="sidebar-inner">
        <div class="sidebar-fold" ng-click='menu.toggleLeft(this)'><span class="glyphicon glyphicon-option-vertical transition-min"></span></div>
        <div class='' data-menu-box="m-10011">
            <div class="sidebar-nav main-nav">
                <div class="sidebar-title">
                    <div class="sidebar-title-inner">
                        <span class="sidebar-title-icon fa fa-caret-right transition-min"></span>
                        <span class="sidebar-title-text">商城配置</span>
                    </div>
                </div>
                <ul class="sidebar-trans" style="display:none" data-menu-node='m-10011-10124'>
                    <li class="nav-item">
                        <a data-menu-node='m-10011-10125' data-open="http://basic.demo.cuci.cc/index.php/store/config/advertising.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-bullhorn transition-min"></span>
                            </div>
                            <span class="nav-title">广告管理</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-10011-10138' data-open="http://basic.demo.cuci.cc/index.php/store/coupons/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-gg-circle transition-min"></span>
                            </div>
                            <span class="nav-title">优惠券管理</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-10011-10147' data-open="http://basic.demo.cuci.cc/index.php/store/config/order.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-certificate transition-min"></span>
                            </div>
                            <span class="nav-title">订单配置</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-nav main-nav">
                <div class="sidebar-title">
                    <div class="sidebar-title-inner">
                        <span class="sidebar-title-icon fa fa-caret-right transition-min"></span>
                        <span class="sidebar-title-text">会员管理</span>
                    </div>
                </div>
                <ul class="sidebar-trans" style="display:none" data-menu-node='m-10011-10131'>
                    <li class="nav-item">
                        <a data-menu-node='m-10011-10132' data-open="http://basic.demo.cuci.cc/index.php/store/member/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-mortar-board transition-min"></span>
                            </div>
                            <span class="nav-title">会员列表</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-nav main-nav">
                <div class="sidebar-title">
                    <div class="sidebar-title-inner">
                        <span class="sidebar-title-icon fa fa-caret-right transition-min"></span>
                        <span class="sidebar-title-text">轮播图管理</span>
                    </div>
                </div>
                <ul class="sidebar-trans" style="display:none" data-menu-node='m-10011-10144'>
                    <li class="nav-item">
                        <a data-menu-node='m-10011-10145' data-open="http://basic.demo.cuci.cc/index.php/store/carousel/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-refresh transition-min"></span>
                            </div>
                            <span class="nav-title">轮播图列表</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-10011-10146' data-open="http://basic.demo.cuci.cc/index.php/store/carouseltype/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-send transition-min"></span>
                            </div>
                            <span class="nav-title">轮播图分类</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-nav main-nav">
                <div class="sidebar-title">
                    <div class="sidebar-title-inner">
                        <span class="sidebar-title-icon fa fa-caret-right transition-min"></span>
                        <span class="sidebar-title-text">评论管理</span>
                    </div>
                </div>
                <ul class="sidebar-trans" style="display:none" data-menu-node='m-10011-10148'>
                    <li class="nav-item">
                        <a data-menu-node='m-10011-10149' data-open="http://basic.demo.cuci.cc/index.php/store/comment/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-book transition-min"></span>
                            </div>
                            <span class="nav-title">评论列表</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-nav main-nav">
                <div class="sidebar-title">
                    <div class="sidebar-title-inner">
                        <span class="sidebar-title-icon fa fa-caret-right transition-min"></span>
                        <span class="sidebar-title-text">品牌管理</span>
                    </div>
                </div>
                <ul class="sidebar-trans" style="display:none" data-menu-node='m-10011-10037'>
                    <li class="nav-item">
                        <a data-menu-node='m-10011-10038' data-open="http://basic.demo.cuci.cc/index.php/store/brand/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="glyphicon glyphicon-duplicate transition-min"></span>
                            </div>
                            <span class="nav-title">品牌分类</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-10011-10013' data-open="http://basic.demo.cuci.cc/index.php/store/brand/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="glyphicon glyphicon-education transition-min"></span>
                            </div>
                            <span class="nav-title">品牌列表</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-nav main-nav">
                <div class="sidebar-title">
                    <div class="sidebar-title-inner">
                        <span class="sidebar-title-icon fa fa-caret-right transition-min"></span>
                        <span class="sidebar-title-text">商品管理</span>
                    </div>
                </div>
                <ul class="sidebar-trans" style="display:none" data-menu-node='m-10011-10019'>
                    <li class="nav-item">
                        <a data-menu-node='m-10011-23' data-open="http://basic.demo.cuci.cc/index.php/store/cate/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-pied-piper transition-min"></span>
                            </div>
                            <span class="nav-title">商品分类</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-10011-10015' data-open="http://basic.demo.cuci.cc/index.php/store/spec/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="glyphicon glyphicon-asterisk transition-min"></span>
                            </div>
                            <span class="nav-title">商品规格</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-10011-25' data-open="http://basic.demo.cuci.cc/index.php/store/goods/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-product-hunt transition-min"></span>
                            </div>
                            <span class="nav-title">商品中心</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-10011-10143' data-open="http://basic.demo.cuci.cc/index.php/store/selled/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-map-o transition-min"></span>
                            </div>
                            <span class="nav-title">售后条款</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-nav main-nav">
                <div class="sidebar-title">
                    <div class="sidebar-title-inner">
                        <span class="sidebar-title-icon fa fa-caret-right transition-min"></span>
                        <span class="sidebar-title-text">订单管理</span>
                    </div>
                </div>
                <ul class="sidebar-trans" style="display:none" data-menu-node='m-10011-10020'>
                    <li class="nav-item">
                        <a data-menu-node='m-10011-10021' data-open="http://basic.demo.cuci.cc/index.php/store/order/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="glyphicon glyphicon-list-alt transition-min"></span>
                            </div>
                            <span class="nav-title">订单列表</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-10011-10135' data-open="http://basic.demo.cuci.cc/index.php/store/send/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-truck transition-min"></span>
                            </div>
                            <span class="nav-title">发货管理</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-10011-10142' data-open="http://basic.demo.cuci.cc/index.php/store/repay/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-strikethrough transition-min"></span>
                            </div>
                            <span class="nav-title">退款管理</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-10011-10136' data-open="http://basic.demo.cuci.cc/index.php/store/refund/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="glyphicon glyphicon-retweet transition-min"></span>
                            </div>
                            <span class="nav-title">退货管理</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-10011-10139' data-open="http://basic.demo.cuci.cc/index.php/store/returninfo/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-hand-peace-o transition-min"></span>
                            </div>
                            <span class="nav-title">退货信息管理</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-nav main-nav">
                <div class="sidebar-title">
                    <div class="sidebar-title-inner">
                        <span class="sidebar-title-icon fa fa-caret-right transition-min"></span>
                        <span class="sidebar-title-text">配送管理</span>
                    </div>
                </div>
                <ul class="sidebar-trans" style="display:none" data-menu-node='m-10011-10025'>
                    <li class="nav-item">
                        <a data-menu-node='m-10011-10026' data-open="http://basic.demo.cuci.cc/index.php/store/freight/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="glyphicon glyphicon-globe transition-min"></span>
                            </div>
                            <span class="nav-title">快递公司</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-10011-10036' data-open="http://basic.demo.cuci.cc/index.php/store/delivery/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="glyphicon glyphicon-plane transition-min"></span>
                            </div>
                            <span class="nav-title">配送方式</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class='hide' data-menu-box="m-10107">
            <div class="sidebar-nav main-nav">
                <div class="sidebar-title">
                    <div class="sidebar-title-inner">
                        <span class="sidebar-title-icon fa fa-caret-right transition-min"></span>
                        <span class="sidebar-title-text">资讯管理</span>
                    </div>
                </div>
                <ul class="sidebar-trans" style="display:none" data-menu-node='m-10107-10108'>
                    <li class="nav-item">
                        <a data-menu-node='m-10107-10123' data-open="http://basic.demo.cuci.cc/index.php/apps/page/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-edge transition-min"></span>
                            </div>
                            <span class="nav-title">页面管理</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-nav main-nav">
                <div class="sidebar-title">
                    <div class="sidebar-title-inner">
                        <span class="sidebar-title-icon fa fa-caret-right transition-min"></span>
                        <span class="sidebar-title-text">附近门店</span>
                    </div>
                </div>
                <ul class="sidebar-trans" style="display:none" data-menu-node='m-10107-10109'>
                    <li class="nav-item">
                        <a data-menu-node='m-10107-10117' data-open="http://basic.demo.cuci.cc/index.php/apps/shopdor/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-calendar transition-min"></span>
                            </div>
                            <span class="nav-title">门店管理</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-nav main-nav">
                <div class="sidebar-title">
                    <div class="sidebar-title-inner">
                        <span class="sidebar-title-icon fa fa-caret-right transition-min"></span>
                        <span class="sidebar-title-text">签到活动</span>
                    </div>
                </div>
                <ul class="sidebar-trans" style="display:none" data-menu-node='m-10107-10110'>
                    <li class="nav-item">
                        <a data-menu-node='m-10107-10119' data-open="http://basic.demo.cuci.cc/index.php/apps/sign/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-certificate transition-min"></span>
                            </div>
                            <span class="nav-title">签到配置</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-10107-10120' data-open="http://basic.demo.cuci.cc/index.php/apps/sign/record.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-pencil transition-min"></span>
                            </div>
                            <span class="nav-title">签到记录</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-nav main-nav">
                <div class="sidebar-title">
                    <div class="sidebar-title-inner">
                        <span class="sidebar-title-icon fa fa-caret-right transition-min"></span>
                        <span class="sidebar-title-text">积分管理</span>
                    </div>
                </div>
                <ul class="sidebar-trans" style="display:none" data-menu-node='m-10107-10111'>
                    <li class="nav-item">
                        <a data-menu-node='m-10107-10121' data-open="http://basic.demo.cuci.cc/index.php/apps/credit/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-leaf transition-min"></span>
                            </div>
                            <span class="nav-title">积分明细</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-10107-10122' data-open="http://basic.demo.cuci.cc/index.php/apps/credit/config.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="glyphicon glyphicon-cog transition-min"></span>
                            </div>
                            <span class="nav-title">积分规则</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-nav main-nav">
                <div class="sidebar-title">
                    <div class="sidebar-title-inner">
                        <span class="sidebar-title-icon fa fa-caret-right transition-min"></span>
                        <span class="sidebar-title-text">现金红包</span>
                    </div>
                </div>
                <ul class="sidebar-trans" style="display:none" data-menu-node='m-10107-10127'>
                    <li class="nav-item">
                        <a data-menu-node='m-10107-10128' data-open="http://basic.demo.cuci.cc/index.php/apps/redpack/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-gift transition-min"></span>
                            </div>
                            <span class="nav-title">红包记录</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-10107-10129' data-open="http://basic.demo.cuci.cc/index.php/apps/redpack/config.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-cogs transition-min"></span>
                            </div>
                            <span class="nav-title">红包配置</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-10107-10130' data-open="http://basic.demo.cuci.cc/index.php/apps/redpack/coder.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-qrcode transition-min"></span>
                            </div>
                            <span class="nav-title">数码管理</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class='hide' data-menu-box="m-11">
            <div class="sidebar-nav main-nav">
                <div class="sidebar-title">
                    <div class="sidebar-title-inner">
                        <span class="sidebar-title-icon fa fa-caret-right transition-min"></span>
                        <span class="sidebar-title-text">微信配置</span>
                    </div>
                </div>
                <ul class="sidebar-trans" style="display:none" data-menu-node='m-11-10017'>
                    <li class="nav-item">
                        <a data-menu-node='m-11-12' data-open="http://basic.demo.cuci.cc/index.php/wechat/conf/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-usb transition-min"></span>
                            </div>
                            <span class="nav-title">微信接口对接</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-11-13' data-open="http://basic.demo.cuci.cc/index.php/wechat/conf/pay.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-paypal transition-min"></span>
                            </div>
                            <span class="nav-title">微信支付配置</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-11-10010' data-open="http://basic.demo.cuci.cc/index.php/wechat/menu/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="glyphicon glyphicon-phone transition-min"></span>
                            </div>
                            <span class="nav-title">微信菜单定制</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-11-10039' data-open="http://basic.demo.cuci.cc/index.php/wechat/keys/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-paw transition-min"></span>
                            </div>
                            <span class="nav-title">关键字配置</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-11-10042' data-open="http://basic.demo.cuci.cc/index.php/wechat/keys/auto.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-commenting-o transition-min"></span>
                            </div>
                            <span class="nav-title">关注回复设置</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-11-10137' data-open="http://basic.demo.cuci.cc/index.php/wechat/keys/defa.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-hourglass-o transition-min"></span>
                            </div>
                            <span class="nav-title">默认回复设置</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-nav main-nav">
                <div class="sidebar-title">
                    <div class="sidebar-title-inner">
                        <span class="sidebar-title-icon fa fa-caret-right transition-min"></span>
                        <span class="sidebar-title-text">粉丝管理</span>
                    </div>
                </div>
                <ul class="sidebar-trans" style="display:none" data-menu-node='m-11-10018'>
                    <li class="nav-item">
                        <a data-menu-node='m-11-10085' data-open="http://basic.demo.cuci.cc/index.php/wechat/message/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-commenting transition-min"></span>
                            </div>
                            <span class="nav-title">微信消息记录</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-11-16' data-open="http://basic.demo.cuci.cc/index.php/wechat/fans/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="glyphicon glyphicon-user transition-min"></span>
                            </div>
                            <span class="nav-title">粉丝列表管理</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-11-15' data-open="http://basic.demo.cuci.cc/index.php/wechat/fans/group.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-users transition-min"></span>
                            </div>
                            <span class="nav-title">粉丝分组管理</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-nav main-nav">
                <div class="sidebar-title">
                    <div class="sidebar-title-inner">
                        <span class="sidebar-title-icon fa fa-caret-right transition-min"></span>
                        <span class="sidebar-title-text">图文管理</span>
                    </div>
                </div>
                <ul class="sidebar-trans" style="display:none" data-menu-node='m-11-17'>
                    <li class="nav-item">
                        <a data-menu-node='m-11-18' data-open="http://basic.demo.cuci.cc/index.php/wechat/article/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="glyphicon glyphicon-text-size transition-min"></span>
                            </div>
                            <span class="nav-title">文章列表管理</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-11-19' data-open="http://basic.demo.cuci.cc/index.php/wechat/news/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-file-word-o transition-min"></span>
                            </div>
                            <span class="nav-title">图文列表管理</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class='hide' data-menu-box="m-3">
            <div class="sidebar-nav main-nav">
                <div class="sidebar-title">
                    <div class="sidebar-title-inner">
                        <span class="sidebar-title-icon fa fa-caret-right transition-min"></span>
                        <span class="sidebar-title-text">系统配置</span>
                    </div>
                </div>
                <ul class="sidebar-trans" style="display:none" data-menu-node='m-3-10044'>
                    <li class="nav-item">
                        <a data-menu-node='m-3-10140' data-open="http://basic.demo.cuci.cc/index.php/admin/conf/mail.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-envelope transition-min"></span>
                            </div>
                            <span class="nav-title">邮箱配置</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-3-10141' data-open="http://basic.demo.cuci.cc/index.php/admin/conf/sms.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-envelope-square transition-min"></span>
                            </div>
                            <span class="nav-title">短信配置</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-3-30' data-open="http://basic.demo.cuci.cc/index.php/admin/conf/site.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-internet-explorer transition-min"></span>
                            </div>
                            <span class="nav-title">网站配置</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-3-10133' data-open="http://basic.demo.cuci.cc/index.php/admin/conf/app.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-apple transition-min"></span>
                            </div>
                            <span class="nav-title">后台配置</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-3-10134' data-open="http://basic.demo.cuci.cc/index.php/admin/conf/qiniu.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-hdd-o transition-min"></span>
                            </div>
                            <span class="nav-title">文件存储</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-3-31' data-open="http://basic.demo.cuci.cc/index.php/admin/data/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-database transition-min"></span>
                            </div>
                            <span class="nav-title">数据字典</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-nav main-nav">
                <div class="sidebar-title">
                    <div class="sidebar-title-inner">
                        <span class="sidebar-title-icon fa fa-caret-right transition-min"></span>
                        <span class="sidebar-title-text">系统权限</span>
                    </div>
                </div>
                <ul class="sidebar-trans" style="display:none" data-menu-node='m-3-10043'>
                    <li class="nav-item">
                        <a data-menu-node='m-3-28' data-open="http://basic.demo.cuci.cc/index.php/admin/role/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-user-secret transition-min"></span>
                            </div>
                            <span class="nav-title">权限管理</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-3-10078' data-open="http://basic.demo.cuci.cc/index.php/admin/user/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="fa fa-user transition-min"></span>
                            </div>
                            <span class="nav-title">用户管理</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-3-1' data-open="http://basic.demo.cuci.cc/index.php/admin/menu/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="glyphicon glyphicon-menu-hamburger transition-min"></span>
                            </div>
                            <span class="nav-title">系统菜单</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-nav main-nav">
                <div class="sidebar-title">
                    <div class="sidebar-title-inner">
                        <span class="sidebar-title-icon fa fa-caret-right transition-min"></span>
                        <span class="sidebar-title-text">系统工具</span>
                    </div>
                </div>
                <ul class="sidebar-trans" style="display:none" data-menu-node='m-3-10045'>
                    <li class="nav-item">
                        <a data-menu-node='m-3-10094' data-open="http://basic.demo.cuci.cc/index.php/admin/log/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="glyphicon glyphicon-hourglass transition-min"></span>
                            </div>
                            <span class="nav-title">系统日志</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-menu-node='m-3-10016' data-open="http://basic.demo.cuci.cc/index.php/admin/back/index.html" class="sidebar-trans">
                            <div class="nav-icon sidebar-trans">
                                <span class="glyphicon glyphicon-hdd transition-min"></span>
                            </div>
                            <span class="nav-title">数据备份</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>